# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы редакторов
*.swp
*.tmp
*~

# Логи и кэш
*.log
.cache/

# Директории сборки
build/
dist/
out/

# Конфигурации IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
