#########################################
#                                       #
#       Hello, System Administrator!    #
#                                       #
#########################################
Host: {{ ansible_hostname }}
IP Address: {{ primary_ip }}
This system is managed by Ansible.
Have a nice day!
